ion-card{
    .buttons{
        width: fit-content;
        margin-left: auto;
        margin-top: 30px;
    }
}
.search-filter{
    ion-searchbar{
        width: calc(100% - 3em);
        display: inline-block;
    }
    ion-img{
        width: 2em;
        display: inline-block;
        padding: calc(0.5em + 5px) 0;
        vertical-align: top;
    }
}