<ion-content>
    <div class="search-filter">
      <ion-searchbar (ionClear)="searchCancel()" (input)="searchBoxSearch($event)" hideCancelButton="true"></ion-searchbar>
      <ion-img (click)="showFilterModal()" src="assets/icon/iconfinder_filter_1608702.svg"></ion-img>
    </div>
    <ion-card *ngFor="let book of searchBooks">
        <ion-card-header>
          <ion-card-title>{{book.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label><span>Category:</span> {{book.category.name}}<br/></ion-label>
          <ion-label><span>Price:</span> {{book.price}}<br/></ion-label>
          <br/>
          <ion-label>{{book.description}}</ion-label>
          <div class="buttons">
              <ion-button [routerLink]="['/home', 'catalog', 'book', book.id]" fill="outline"
                  slot="end">Details</ion-button>
              <ion-button *ngIf="authenticationService.isLogined()" (click)="addBookToBasket(book)" fill="outline"
                  slot="end">Buy</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
</ion-content>
