<ion-header>
  <ion-toolbar>
    <ion-title>Basket</ion-title>
    <ion-back-button slot="start"
                     item-right
                     defaultHref="/home"></ion-back-button>
    <ion-button (click)="clear()" slot="end">Clear</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="basket-details">
    <ion-item lines="none"
              class="item-remove-padding">
      <ion-label>
        <h2>Basket details</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none"
              class="item-remove-padding">
        <h4>Price:</h4> {{basketService.getPrice()}}
    </ion-item>
    <ion-item class="item-remove-padding">
        <h4>Count:</h4> {{basketService.getProductCount()}}
    </ion-item>
  </div>

  <ion-list>
    <div class="product"
         *ngFor="let item of items">
      <ion-item>
        <h3>{{item.product.name}}</h3>
        <ion-button slot="end" color="danger" (click)="removeItem(item)">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <h4>Price:</h4>{{item.product.price}}$
      </ion-item>
      <ion-item>
        <h4>Category:</h4>{{item.product.category.name}}
      </ion-item>
      <ion-item>
          <h4>Count:</h4>{{item.count}}
        </ion-item>
    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="items.length == 0" (click)="createOrder()" class="w-100">Buy</ion-button>
  </ion-toolbar>
</ion-footer>