<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-button class="clear-button" *ngIf="autheficationService.isLogined()" (click)="navigateToBasket()" clear size = "small" slot="end">
        <ion-icon slot="start" name="ios-basket"></ion-icon>
        Cart
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-split-pane contentId='content'>
  <ion-menu side="start"
            menuId="menu"
            contentId='content'>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="h-100">
        <ion-button routerLinkActive="active"
                    [routerLink]="['/home','listgoods']"
                    fill="clear">
          <div class="btn-content">
            <ion-icon item-left
                      name="star"></ion-icon>
            List goods
          </div>
        </ion-button>
        <ion-button routerLinkActive="active"
                    [routerLink]="['/home','catalog']"
                    fill="clear">
          <div class="btn-content">
            <ion-icon item-left
                      name="pricetag"></ion-icon>
            Catalog
          </div>
        </ion-button>
        <ion-button routerLinkActive="active"
                    [routerLink]="['/home','orders']"
                    *ngIf="autheficationService.isLogined()"
                    fill="clear">
          <div class="btn-content">
            <ion-icon item-left
                      name="cash"></ion-icon>
            Orders
          </div>
        </ion-button>
        <ion-button *ngIf="autheficationService.isLogined()"
                    class="logout"
                    (click)="autheficationService.logOut()"
                    color="danger">Logout</ion-button>
      </div>
    </ion-content>
  </ion-menu>


  <ion-content id='content'>
      <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-split-pane>